/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    font-family: 'Times New Roman', Times, serif;
}

nav{
    background-color: black;
    height: 80px;
    width: 100%;
text-align: center;
display: block;
justify-content: center;

}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:  0 10px;
}

nav ul li a{
    color: rgb(252, 247, 247);
    font-size: 24px;
    text-transform: uppercase;
}

a:hover{
    background: rgb(72, 150, 209);
    transition: .5s;
}

.div1{
    position: relative;
}
.div1 img{
    margin-top: -40px;
    max-width: 100%;
    height: auto;
    z-index: 100;
}

.div2{
    position: absolute;
    top: 50%;
    color: white;
    padding: 20px;
    margin-left: 60px;
}

.div2 h2{
    font-size: 150px;
    text-transform: capitalize;
    font-weight: 5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div3{
    position: absolute;
    top: 0%;
    color: white;
    padding: 45px;
    margin-left: 200px;
    
    
}

.div3 h2{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
   
}


.div4{
    position: absolute;
    top: 0%;
    color: white;
    padding: 20px;
    margin-left: 300px;
}

.div4 h2{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div5{
    position: relative;
    margin-top: -5px;
    max-width: 100%;
    width: 100%;
    height: 500px;
    background-color: rgb(235, 86, 86);
    
}

.div5 h1{
    position: absolute;
    color: white;
    margin-top: 70px;
    margin-left: 100px;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div6{
    position: absolute;
    color: white;
    margin-left: 0px;
    margin-top: 60px;
}

.div6 h1{
    font-size: 150px;
    font-weight: 7;
}

.div7{
    position: absolute;
    color: white;
    margin-left: 130px;
    margin-top: 25px;
}

.div7 h1{
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.div8 p{
    padding-top: 250px;
    display: flex;
    width: 500px;
    height: 10px;
    color: white;
    margin: auto;
    text-align: start;
   justify-content: center;
   position: absolute;
   font-size: 20px;
}

.div9 p{
    position: absolute;
    display: flex;
    margin-left: 700px;
    justify-content: end;
    text-align: end;
    padding: auto;
    color: white;
    width: 430px;
    height: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    position: relative;
}

.background{
position: absolute;
width: 100%;
height: 750px;
}

.krug{
    width: 400px;
    height: 400px;
    margin-top: 120px;
    margin-left: 20%;
    position: absolute;
    border-radius: 350px;
}

.div11{
    width: 11px;
    height: 310px;
    position: absolute;
    z-index: 1000;
    background-color: red;
    margin-left: 50%;
    margin-top: 7%;
}

.div12{
    position: absolute;
    margin-bottom: 500px;
    margin-left: 100px;
    color: white;
}

.div12 h1{
    font-size: 150px;
    font-style: calc();
    font-family: sans-serif;
    margin-top: -10px;
}

.div13{
    position: absolute;
    color: white;
    margin-left: -40px;
}
.div13 h1{
    font-size: 150px;
    font-weight: lighter;
    margin-top: -130px;
    margin-left: -29px;
   
}

.div14{
    position: absolute;
    display: flex;
    margin-left: 10px;
    justify-content: end;
    text-align: end;
    padding: auto;
    color: white;
    width: 480px;
    height: 20px;
    
    
}
.div14 p{
 font-size: 25px;
 font-size: large;
 text-align: end;
}

section{
    position: relative;
}
.div15{
margin-top: 49%;
}
.slika{
    width: 100%;
    z-index: auto;
}
   .div16{
    position: absolute;
    margin-top: -40%;
    color: white;
    margin-left: 70%;
}

.div16 h1{
    font-size: 150px;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.aa1{
    position: absolute;
    margin-top: -447px;
    color: white;
    margin-left: 150px;
}

.aa1 h1{
    font-size: 150px;
    font-weight:  bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aa2{
    position: absolute;
    margin-top: -447px;
    color: white;
    margin-left: 100px;
}

.aa2 h1{
    font-size: 150px;
    font-weight:  lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.div19{
    position: relative;

}
.slika1{
    position: absolute;
 margin-top: -5px;
    width: 100%;
    
}

.div20{
    position: relative;
margin-bottom: 40%;

}
.slika2{
    position: absolute;
    width: 100%;
}

.div21{
    position: absolute;
    color: white;
    margin-left: 40px;
}
.div21 h1{
    font-size: 150px;
    font-weight: initial;
    margin-top: 170px;
    margin-left: 190px;
    text-transform: capitalize;
    font-weight: 5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

.div22{
    position: absolute;
    color: white;
}
.div22 h1{
    font-size: 150px;
    font-weight: bolder;
    margin-left: 330px;
    margin-top: -325px;
   
}

.div23{
    position: absolute;
    color: white;
    justify-content: start;
    text-align: start;
}

.div23 p{
    margin-left: 90px;
    height: 200px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.div24{
    position: relative;
    margin-bottom: 90%;
}
.slika3{
    height: 500px;
    width: 100%;
    position: absolute;
}

.div25{
    position: absolute;
    color: white;
}
.div25 h1{
    font-size: 150px;
    font-weight: lighter;
    margin-left: 30px;
    margin-top: 145px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div26{
    position: absolute;
    color: white;
}
.div26 h1{
    font-size: 150px;
    font-weight: bolder;
    margin-left: 270px;
    margin-top: -325px;
}

.div27{
    position: absolute;
    color: white;
}
.div27 h1{
    font-size: 150px;
    font-weight: lighter;
    margin-left: 410px;
    margin-top: -325px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pozadina{
position: relative;
width: 500px;
height: 600px;
margin-top: 500px;
margin-left: 32%;

}
.div30 h2{
    position: absolute;
    color: white;
    font-size: 110px;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 450px;
    margin-left: -400px;

}

.slika4{
    width: 485px;
    height: 603px;
    margin-top: 33%;
    margin-left:-65%;
    position: absolute;
    
}

.div29{
    background-color: red;
    width: 548px;
    height: 600px;
    margin-left: 64%;
    margin-top: -604px;
    overflow-x: hidden;
}

.div31{
    position: absolute;
    color: white;
}
.div31 h2{
    font-size: 150px;
    font-weight: lighter;
    margin-left: 100px;
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div32{
    position: absolute;
    color: white;
}
.div32 h2{
    font-size: 150px;
    font-weight: bolder;
    margin-left: 250px;
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.div33{
    position: absolute;
    color: white;
    justify-content: end;
    text-align: start;
}
.div33 p{
    font-size: 20px;
    width: 250px;
    height: 100px;
    font-weight: lighter;
    margin-left: 180px;
    margin-top: 210px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 960px;) {
    h1 {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 20px;
    }
    p {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

