.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border: 1px;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.div1 {
  background-color: blue;
  width: 300px;
  height: 300px;
}

.div2 {
  background-color: red;
  width: 300px;
  height: 300px;
}

.div3 {
  background-color: blueviolet;
  width: 300px;
  height: 300px;
}

.div4 {
  background-color: green;
  width: 300px;
  height: 300px;
}

.div1,
.div2,
.div3,
.div4 {
  margin: 4px;
}

/* domaci napravi isto ovo i centriraj ih */
